<div class="container">
    <b>
        <p class="text-primary" style="background-color: wheat;">Currency Conversion Calculator</p>
    </b>
    <form #conversionForm="ngForm">
        <div class="form-group">
            <label for="from" style="color:tomato;"><b>From</b></label>
            <input #from type="text" class="form-control" id="from" name="from" required [(ngModel)]="model.from"
                name="from">
            
        </div>

        <div class="form-group">
            <label for="to" style="color: tomato;"><b>To</b></label>
            <input #to type="text" class="form-control" id="to" name="to" required [(ngModel)]="model.to" name="to">
            
        </div>

        <div class="form-group">
            <label for="quantity" style="color: tomato;"><b>Quantity</b></label>
            <input #quantity type="text" class="form-control" id="quantity" name="quantity" required
                [(ngModel)]="model.quantity" name="quantity">
            
        </div>

        <button (click)="calculateCurrencyConversion(from.value, to.value, quantity.value)" class="btn btn-success"
            [disabled]="!conversionForm.form.valid">Calculate</button>

    </form>
</div>
<div *ngIf="conversion"></div>
<table>
    <tr>

        <td>{{conversion | json }}</td>
    </tr>
</table>